main{
    display: flex;
    flex-direction: column;
}

.main-profile{
    margin: 0vw 4vw;
    display: flex;
    justify-content: center;
    background-color: #dedede;
    align-items: center;
    border: #b9b9b9 solid 2px;
}

.div-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 2vw 0px;
}

.profile-title {
    font-size: 20px;
    margin: 25px;
    display: block;
    width: 100%;
    text-align: center;
}

.div-profile p {
    margin-bottom: 10px;
}

.div-profile img {
    width: 90%;
    border-radius:3%;

}

.perfil-button{
    display:flex;
    flex-direction: column;
    justify-content:center;
    max-width:75%;
  
}

.perfil-button a {
    font-size:13px;
    width: 100%;
    display: block;
    margin: 40px auto 0 auto;
    padding: 3px 5px;
    background-color: rgba(30, 30, 30);
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}